*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #1e1e1e;
    font-family: sans-serif;
    color: #a0a0a0;
    line-height: 1.6;
}

.main-container{
    display: grid;
    max-width: 1150px;
    grid-template-columns: 290px 1fr;
    gap: 40px;
    padding-top: 40px;
    margin: auto;
}


/* Sidebar */
.sidebar{
    height: 90vh;
    background-color: #2a2a2a;
    border-radius: 16px;
    border: 2px solid #3a3a3a;
    padding: 20px;
    position: sticky;
    top: 40px;

}

.main-content{
    border-radius: 20px;
    background-color: #2a2a2a;
    border: 2px solid #3a3a3a;
    padding: 30px;

}

/* Profile Section */
.profile{
   text-align: center;
}

.profile img{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    border: 1px solid #3a3a3a;

}

.profile h2{
    font-size: 1.5rem;
    font-weight: 700;
    /* margin-top: 3px; */
    color: #ffffff;
}

.profile p{
    background-color: #1e1e1e;
    padding: 5px 15px;
    color: #FFBF00;
    border: 1px solid #3a3a3a;
    font-size: 0.8rem;
    border-radius: 8px;
    display: inline-block;
    margin-top: 5px;
}

/* Contact Information */
.contact{
    margin-top: 30px;
    border-top: 2px solid #3a3a3a;
    padding-top: 20px;
    
}
.label{
    font-weight: 500;
    font-size: 0.8rem;
    color: #a0a0a0;
}

.value{
    color: #e0e0e0;
    text-decoration: none;
}

.email,.phone,.location{
    margin-top: 5px;
}

/* Social Media */

.social{
    margin-top: 30px;
    border-top: 2px solid #3a3a3a;
    padding-top: 20px;
    text-align: center;
}

.social img{
    height: 24px;
    width: 24px;
    margin-left: 10px;
    filter: grayscale(1) invert(0.8);
    transition: 0.3s;
}
.social img:hover{
    filter: grayscale(1) invert(0.1);
    
}


/* Main Contant */
/* Navigation */
.navbar{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding:0px 0px 10px 10px;
    border-bottom:1px solid #3a3a3a;
    gap: 25px;
}
.navbar a{
    text-decoration: none;
    color: #a0a0a0;
    font-size: 0.9rem;
    font-weight: 520;
    transition: color 0.5s ease;
}

.navbar a:hover,.navbar .about{
    color: #FFBF00;
}

/* about me */

.heading{
    color: #e0e0e0;
    font-style: 2rem;
    margin-bottom: 7px;
    margin-top: 15px;
}

.line{
    width: 60px;
    height:4px;
    border-radius: 10px;
    background-color: #FFBF00;
    margin-bottom: 15px;
}

.content{
    text-align: justify;
}

#about{
    margin-bottom: 30px;
}

/* Skills Section */

.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 20px;
    margin-top: 30px;
}

.item{
    padding: 20px;
    border: 2px solid #3a3a3a;
    border-radius: 10px;
    background-color: #1e1e1e;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    
}

.item img{
    filter: invert(77%) sepia(73%) saturate(1945%) hue-rotate(356deg) brightness(104%) contrast(91%);
    height: 48px;
    width: 48px;
}

.item h3{
    font-size: 0.8rem;
    font-weight: 500;
}

.item:hover{
    transform: scale(1.05);
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3)
}


/* Education */

#education{
    margin-top: 30px;
}

.edtech{
    position: relative;
    margin-top: 20px;
}

.year{
    font-size: 0.9rem;
    color: #a0a0a0;
    margin-bottom: 5px;
}

.degree{
    color: #e1e1e1;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 5px;
}

.collage{
    font-style: italic;
    color: #a0a0a0;
    margin-bottom: 10px;
}

.work{
    color: #a0a0a0;
}

.edufirst,.edusecond{
    margin-bottom: 30px;
    position: relative;
    padding-left: 25px;
}

.goal{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 3px solid #FFBF00;
    background-color: #2a2a2a;
    position: absolute;
    top: 4px;
    left: 0px;
    z-index: 1;
}

.liner{
    position: absolute;
    width: 2px;
    top: 4px;
    bottom: 0;
    border: 2px solid #3a3a3a;
    left: 5px;

}

/* Portfolio */

.project-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 20px;
}

.project-container a{
    text-decoration: none;
    outline: none;
    border: none;
}

.projects{
    background-color: #1e1e1e;
    border-radius: 12px;
    border: 1px solid #3a3a3a;
    overflow: hidden;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.projects:hover{
    transform: translateY(-8px);
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
}

.projects img{
    height: 180px;
    width: 100%;
    object-fit: cover;
}

.card{
    padding: 15px;
}

.card h3{
    color: #e0e0e0;
    margin-bottom: 3px;
}

.card p{
    color: #a0a0a0;
    line-height: 1.6;
    margin-bottom: 12px;
}

.card span{
    background-color: rgba(255, 191, 0, 0.1);
    color: #FFBF00;
    padding: 7px 8px;
    border-radius: 5px;
    font-size: 0.75rem;
    margin-right: 5px;
}

/* Responsive */

@media screen and (max-width:1200px) {
    .main-container{
        grid-template-columns: 1fr;
        padding: 10px 0;         
        margin: 0;           
        max-width: 100vw;    
        gap: 10px;
        

    }

    .sidebar{
        position: static;
        height: auto;
       
    }

    

    .main-content{
        width: 90w; 
    }
}

@media screen and (max-width:750px) {
    .project-container{
        grid-template-columns: 1fr;
       
    }

        .main-content .navbar{
        justify-content: center;
        flex-wrap: wrap;
    }

    .sidebar{
        display: flex;
        justify-content: start;
        flex-direction: row;
        padding: 5px;
        width: 100vw;
        gap: 10px;
    }

    .sidebar .profile img{
        width: 80px;
        height: 80px;
    }
    .sidebar .profile h2{
        font-size: 0.7rem;
    }

    .sidebar .profile p{
        font-size: 0.5rem;
    }

    .sidebar .contact,.social{
        border: none;
        margin-top: 0px;
    }

    .email{
        margin-top: 0px;
    }

    .value{
        font-size:0.8rem;
        margin-top: 0px;
    }

}